[submodule "mola_common"]
	path = mola_common
	url = https://github.com/MOLAorg/mola_common.git
[submodule "mp2p_icp"]
	path = mp2p_icp
	url = https://github.com/MOLAorg/mp2p_icp.git
[submodule "mola"]
	path = mola
	url = https://github.com/MOLAorg/mola.git
[submodule "mola_test_datasets"]
	path = mola_test_datasets
	url = https://github.com/MOLAorg/mola_test_datasets.git
[submodule "mola_lidar_odometry"]
	path = mola_lidar_odometry
	url = https://github.com/MOLAorg/mola_lidar_odometry.git
