version: "3.9"
services:
  base:
    image: modular_slam:base
    build:
      context: .
      dockerfile: Dockerfile
      args:
        ROS_DISTRO: humble
      target: base
    stdin_open: true
    tty: true
    network_mode: host
    ipc: host
    privileged: True
    environment:
      # Allows graphical programs in the container.
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
      - NVIDIA_DRIVER_CAPABILITIES=all
    volumes:
      # Allows graphical programs in the container.
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ${XAUTHORITY:-$HOME/.Xauthority}:/root/.Xauthority
  
  modular_slam:
    extends: base
    image: modular_slam:modular_slam
    build:
      context: .
      dockerfile: Dockerfile
      target: modular_slam
      args:
        - UID=${UID:-1000}
        - GID=${UID:-1000}
        - USERNAME=${USERNAME:-devuser}
    environment:
      - KITTI_BASE_DIR=/Datasets/KITTI/dataset
    volumes:
      # Mount the source code
      - ./modules:/modular_slam_ws/src/modular_slam:rw

      # Mount colcon build artifacts for faster rebuilds
      - ./.colcon/build:/modular_slam_ws/build/:rw
      - ./.colcon/install:/modular_slam_ws/install/:rw
      - ./.colcon/log:/modular_slam_ws/log/:rw
      # Datasets
      - ~/Datasets:/Datasets
    user: ${USERNAME:-devuser}
    command: sleep infinity

